# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and runtime PID files
*.log
*.pid
*.user_backup.json
.lgd-*

# Environments
.env
.venv/
venv/
ENV/

# Operating System & Editors
.DS_Store
.vscode/
.idea/
*.swp
